@media screen and (max-width: 1024px){
	#leftBar{
		display:none;
	}
	#contacts{
		display: block;
    float: left;
    margin-top: 12px;
    margin-left: 4%;
    color: #EEE;
    font-size: 24px;
    cursor: pointer;
    width: 50px;
    height: 50px;
	}
	#hamBurger{
	    width: 41px;
    height: 8px;
    background-color: #EEE;
    margin: 6px auto;
	}
	#searchBox {
	        margin-left: 7%;
    width: 45%;
    height: 31px;
    margin-top: 21px;
	}
	#autosuggest{
		    width: 100%;
		        height: 94%;
    left: 0;
    max-height: 94%;
     overflow-y: auto;
    top: 69px;
	}
	#deleteText{
  display: none;
}
	#nameUserName{
	display: none;
	}
	#searchInputBox{
		width:75%;
		margin-top:5px 
	}
	#profile {
	    float: right;
    width: 98%;
    margin-left: 20px;
    height: 94%;
    }
    #wallPaper{
    	width: 98%;
    }
    #nameAndRatingWrapper {
    width: 100%;
    float: none;
	}
	#buttonDiv {
    width: 83%;
    float: none;
    margin: auto;
}
	#contactImageDiv {
	float:none;
	margin:0;
     padding-top: 60px;
    text-align: center;
	}
	#sendMessageButton{
	padding-top: 0;
    float: none;
    margin: auto;
    margin-top: 13px;
    
	}
	#sendMessage{
	margin-bottom: 6%;
	font-size: 116%;
	}
	
	#nameAndRatingWrapper {
    width: 100%;
    float: none;
    margin: auto;
    text-align: center;
	}
	#ratingWrapper {
        padding-left: 24%;
    margin-bottom: 7px;
    margin-top: 5px;
	}
	#profileRating {
    height: 400px;
	}
	#hearts {
    width: 4.6667vw;
    height: 4.6667vw;
	}
	#tablesOfLikes {
   width:80%;
    margin: auto;
    margin-bottom: 20px;
}
#contactDetail {
    
    text-align: center;
    margin: 20px 0px;
}

#dpAutoSuggest {
    width: 50px;
    margin-top:5px;
}
#autoSuggestRow {
    height: 62px;}
}